.white {
  background: #fff;

  .section-header,
  .section-text {
    color: #3C4761;
  }

  hr {
    background-color: #DFE8ED;
  }

  .circle-name {
    color: #3C4761;
    text-align: center;
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  @media only screen and (max-width: 768px) {
    /* <= 768px */
    /* For mobile phones: */
    .column {
      width: 50%;
    }
  }
  @media only screen and (max-width: 550px) {
    /* <= 768px */
    /* For mobile phones: */
    .column {
      width: 100%;
    }
  }
}
